*{
	font-family:Georgia;
}

nav{
	background-color:maroon;
	color:white;
	height:600px;
	width:30%;
	float:left;
}

main{
	background-color:maroon;
	color:white;
	height:600px;
	width:70%;
	overflow:scroll;
	float:left;
}

footer{
	background-color:dimgray;
	color:white;
	clear:both;
}

#foto,#lista{
	float:left;
}

#tekst{
	clear:both;
}

p{
	padding:10px;
}

img{
	padding:10px;
	border:1px solid white;
}

#indigo{
	background-color:indigo;
}

#steelblue{
	background-color:steelblue;
}

#olive{
	background-color:olive;
}